@page "/delete/{empID:int}"
@using BlazorCrud.Shared.Models
@inject HttpClient Http
@inject NavigationManager urlNavigationManager

<h2>Delete Employee</h2>
<h3>Are you sure you want to delete employee with id : @empID</h3>
<br />

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Last Name</td>
            <td>@emp.LastName</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>@emp.FirstName</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>@emp.PhoneNumber</td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td>@emp.BirthDate</td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-danger" @onclick="(async () => await Delete())">Delete</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    [Parameter]
    public int empID { get; set; }

    Contact emp = new Contact();

    protected override async Task OnInitializedAsync()
    {
        emp = await Http.GetJsonAsync<Contact>("/api/Employee/Details/" + empID);
    }

    protected async Task Delete()
    {
        await Http.DeleteAsync("api/Employee/Delete/" + Convert.ToInt32(empID));
        urlNavigationManager.NavigateTo("/fetchemployee");
    }

    void Cancel()
    {
        urlNavigationManager.NavigateTo("/fetchemployee");
    }


}
